#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

.espacios {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
.center_menu {
    font-family: Arimo, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 20px;
    position: relative;
    background-color: #ffffff;
    color: #FF9900;
    padding: 5px;
}
.center_menu2{
    position:  relative;
    font-family: Arimo, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 20px;
    background-color: #FF9900;
    padding: 5px;
}
.center_content {
    
    position: relative;
    background-color: #ffffff;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

/*footer*/
footer {
background:none repeat scroll 0 0 #ccccff;
color: white;
min-width: 978px;
width: 100%;
float: left;
position: relative;
}

section.content_footer {
display: block;
margin: 0 auto;
min-height: 50px;
width: 978px;
}

section.content_footer ul {
float: left;
margin: 62px 20px 29px 0px;
width: 184px;
}

footer a {
color:#333;
font-size: 14px;
letter-spacing: 0.1em;
}

footer h1 {
border-bottom: 1px dotted;
font-size: 11px;
font-weight: normal;
letter-spacing: 0.1em;
margin-bottom: 5px;
margin-top: 15px;
padding-bottom: 5px;
}
.right {
margin-right: 0;
}
