body {
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arimo, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    letter-spacing: 1pt;
    border-bottom: 1px solid #FFFFFF; 
    font-weight:  lighter;
    font-size:  45px;
    margin: 0px;
    padding: 0px;
    color: #000066;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}