<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./Plantilla.xhtml">

            <ui:define name="top">
                <h2>Contactenos</h2>
            </ui:define>

            <ui:define name="content">
                <center>
                    <h:form>
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel for="nombre" value="Nombre: " />
                            <p:inputText id="nombre" label="nombre" placeholder="nombre"/>
                            <p:outputLabel for="correo" value="Correo electrónico: " />
                            <p:inputText id="correo" placeholder="ej:correo@dominio.com"/>
                        </h:panelGrid>
                        <p:inputTextarea rows="5" cols="30" counter="display" maxlength="400" counterTemplate="{0} caracteres restantes." autoResize="false" />
                        <br />
                        <h:outputText id="display" />
                        <br />
                        <p:commandButton value="Limpiar" type="reset" />
                        <p:commandButton value="Enviar"/>
                    </h:form>
                </center>
                
            </ui:define>

            <ui:define name="bottom">
                bottom
            </ui:define>

        </ui:composition>

    </body>
</html>
