<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <body>
        <ui:composition xmlns="http://www.w3.org/1999/xhtml" template="Plantilla.xhtml">

            <ui:define name="content">
                <p:contentFlow value="#{imagesViews.images}" var="image"  style=" background-color: #00343c">
                    <p:graphicImage value="/imagenes/#{image}" styleClass="content"/>
                    <div class="caption">#{image}
                        <p align="justify">Un número, en ciencia, es un concepto que expresa una cantidad en relación a su unidad. También puede indicar el orden de una serie (números ordinales). También, en sentido amplio, indica el carácter gráfico que sirve para representarlo; dicho signo gráfico de un número recibe el nombre de numeral o cifra. El que se escribe con un solo guarismo se llama dígito.1.</p>
                        <p align="justify">Un número, en ciencia, es un concepto que expresa una cantidad en relación a su unidad. También puede indicar el orden de una serie (números ordinales). También, en sentido amplio, indica el carácter gráfico que sirve para representarlo; dicho signo gráfico de un número recibe el nombre de numeral o cifra. El que se escribe con un solo guarismo se llama dígito.2.</p>
                        <p align="justify">Un número, en ciencia, es un concepto que expresa una cantidad en relación a su unidad. También puede indicar el orden de una serie (números ordinales). También, en sentido amplio, indica el carácter gráfico que sirve para representarlo; dicho signo gráfico de un número recibe el nombre de numeral o cifra. El que se escribe con un solo guarismo se llama dígito.3.</p>
                        <p align="justify">Un número, en ciencia, es un concepto que expresa una cantidad en relación a su unidad. También puede indicar el orden de una serie (números ordinales). También, en sentido amplio, indica el carácter gráfico que sirve para representarlo; dicho signo gráfico de un número recibe el nombre de numeral o cifra. El que se escribe con un solo guarismo se llama dígito.4.</p>
                    </div>
                </p:contentFlow>
            </ui:define>
            
            <ui:define name="bottom">
                menu de walter
            </ui:define>

        </ui:composition>    
    </body>
    
    <footer>
        <section class="content_footer">
            <ul class="corner">
                <h1><a href="index.html">Inicio</a></h1>
                                                <h1>Quién Soy</h1>
                            <li><a href="/quienes-somos/historia-y-filosofia">Escalada</a></li>
                    <li><a href="/quienes-somos/cultura">Estudio</a></li>
                    <li><a href="/quienes-somos/calidad-sabor-y-nutricion">Mi música</a></li>
                    <li><a href="/pensamiento">Pensamiento</a></li>
                                                       
                </ul>
            <ul>
                <h1>Dibujos</h1>
                                                                                                                                        <li><a href="/logos">Logos</a></li>
                                                                                                                                    <li><a href="/paisajes">Paisajes</a></li>
                                                                                                                                    <li><a href="/fotos">Fotos</a></li>
                            </ul>
            <ul>
                                <h1>Blog</h1>
                            <li><a href="/ultimos-placeres/ultimas-noticias">Cómo hacer una página web desde 0</a></li>
                    <li><a href="/ultimos-placeres/recientes">Lo básico para Android</a></li>
                    <li><a href="/ultimos-placeres/inspiraciones">Proyectos</a></li>
                    <li><a href="/ultimos-placeres/creaciones">Creaciones</a></li>
                    <li><a href="/ultimos-placeres/notas-temporales">Notas Temporales</a></li>
                </ul>
            <ul class="right">
                            <h1>Contacteme</h1>
                            <li><a href="/hablemos/cuentanos">formulario de contacto</a></li>
                    
                                </ul>
            <!--close copy-->
        </section>
    </footer> <!-- close footer -->
</html>
