<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>WTFCONSULTORES</title>
    </h:head>

    <h:body>

        <div id="top">
            <br></br>
            <br></br>
            <h1>
                <center> WTFCONSULTORES</center>
            </h1>
            <br></br>
            <br></br>
            
            <div id="menu">
                <div class="espacios"></div>
                <h:form>
                    
                        <p:megaMenu styleClass="center_menu2" >
                            
                                <p:menuitem value="Servicios" outcome="/index"></p:menuitem>
                                <p:menuitem value="Proyectos" outcome="index"></p:menuitem> 
                                <p:menuitem value="Integrantes" outcome="/index"></p:menuitem>
                                <p:menuitem value="Contactenos" outcome="/Contacto"></p:menuitem>
                            
                    </p:megaMenu>
                </h:form>
                
                <div class="espacios"></div>
            </div>
            <ui:insert name="top"></ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Contenido</ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">Abajo</ui:insert>
        </div>

    </h:body>

</html>
